<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section>

    <!-- Politicas de Privacidad - Undecima Parte -->

    <div class="politicaPrivacidad_main">

        <div class="contenedor_PoliticaPrivacidad">

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad">

                    <h1>Politica de Privacidad</h1>
                    <p>La privacidad es un derecho fundamental y en STEL lo tamamos muy en serio. Por eso, queremos informarte sobre como recopilamos, usamos y protegemos tus datos personales. En esta pagina encontrara todo la información necesaria sobre nuestra politica de privacidad. </p>
                    <a href="https://www.sic.gov.co/informacion-sobre-la-proteccion-de-datos-personales#:~:text=La%20Ley%20de%20Protecci%C3%B3n%20de%20Datos%20Personales%20reconoce,tratamiento%20por%20entidades%20de%20naturaleza%20p%C3%BAblica%20o%20privada." target="_blank">Conoce mas</a>

                </div>

            </div>

            <div class="box">

                <figure>

                    <img src="/Images/8. politicaPrivacidad/0. candadoSeguridad.webp" alt="Personas en un parque con perros">

                </figure>

            </div>

        </div>

    </div>


    <!-- Politica de Privacidad - Doceava parte -->

    <div class="politicaPrivacidad_Explicacion_main">

        <div class="contenedor_PoliticaPrivacidad_Explicacion">

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Responsable del tratamiento de los datos</h1>
                    <p>En STEL, somos los responsables del tratamiento de los datos personales que nos proporcionas. Nos tomamos muy en serio la privacidad y seguridad de tus datos y nos aseguramos de cumplir con las leyes y regulaciones aplicables.</p>
                    <a href="/sobreNosotros" target="_blank">Sobre Nosotros</a>

                </div>

            </div>

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Finalidad del tratamiento de los datos</h1>
                    <p>En STEL usaremos sus datos para mejorar y agilizar la gestión del conjunto residencial, brindando herramientas tanto al trabajador como al residente, para mejorar su experiencia y compromiso con el conjunto residencial.</p>
                    <a href="/servicios" target="_blank">Nuestros servicios</a>

                </div>

            </div>

            <div class="box">

                <div class="explicacion_PoliticaPrivacidad_Explicacion">

                    <h1>Acciones del usuario sobre el tratamineto de sus datos</h1>
                    <p>Si deseas conocer mas sobre el tratamiento de tus datos personales, puedes contactarnos a traves de nuestro correo electronico o numero telefonocio. Tambien puedes dar clic en el boton que dice "Conoce mas" y contactanos desde el formulario.</p>
                    <a href="/contactenos.html" target="_blank">Contactenos</a>

                </div>

            </div>

        </div>

    </div>

</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
