<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section>


    <div class="main_formulario_olvido_contraseña" style="margin-top: 200px; margin-bottom: 230px">

        <div class="cuerpo_formulario_olvido_contraseña">

            <div class="titulo_formulario_olvido_contraseña">

                <h1>¿olvido su contraseña? <i class="fa-sharp fa-solid fa-key-skeleton"></i></h1>
                <p>Ingrese el correo con el cual esta registrado a STEL</p>

            </div>

            <div class="formulario_olvido_contraseña">

                <center>

                    <form action="" class="campos_formulario_olvido_contraseña">

                        <label for="IngName"><i class="fa-solid fa-user"></i></label>
                        <input type="text" id="IngName" name="IngName" maxlength="60"><br>


                        <button type="submit" value="Enviar"></button>

                    </form>

                </center>

            </div>

        </div>

    </div>

</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
