<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="header">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>STEL</title>
        <link rel="shortcut icon" href="/Images/0. Logos/1. logo sin titulo.png">
        <link rel="stylesheet" href="/CSS/0. juanes.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <!-- Remixicon y Boxicons son bibliotecas de iconos open source que puede ser utilizado en proyectos web -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
        <!-- Google fonts nos permite usar caligrafias open source -->

        <script type="text/javascript" src="/JavaScript/0.%20Juanes.js"></script>
        <!-- Aquí puedes incluir más elementos del encabezado si es necesario -->

    </head>

</html>
