<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <!-- Es un formato de codificacion de caracteres que permite representar cualquier caracter Unicode estandar -->

    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimizar los sitios para para movil. Definiendo el ancho, alto y escala del area usada por el navegador -->

    <title>Error 404</title>
    <!-- Nombre de la pestaña  -->

    <link rel="shortcout icon" href="/Images/0.%20Logos/1.%20logo%20sin%20titulo.png">
    <!-- Icono del sitio web -->

    <link rel="stylesheet" type="text/css" href="/CSS/0.%20Juanes.css">
    <!-- Hoja de Estilo CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    <!-- Google fonts nos permite usar caligrafias open source -->

</head>

    <body>

        <div class="containerError404">

            <img src="/Images/9.%20error404/hombreConstruyendo.webp" alt="" id="hombreConstruyendo404">
            <h1>ERROR 404</h1>
            <p>Esta pagina se encuentra en construcción</p>
            <a href="/templates/public">Volver al inicio</a>

        </div>

    </body>

</html>