<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section>

    <div class="llamadoAcccion" style="margin-top: 180px">

        <div class="contenedorLlamadoAccion">

            <div class="box">

                <div class="textoLlamadoAccion">

                    <h1 id="tituloPaginasComplementarios">Ley 675 - 2001 - Propiedad Horizontal - Cartilla</h1>
                    <p>La Ley 675 de 2001 es una ley colombiana que regula la propiedad horizontal en el país. Esta ley establece las normas y procedimientos para la constitución, organización, administración y funcionamiento de las propiedades horizontales, que son aquellas que tienen áreas comunes y propiedades privadas</p>
                    <a href="https://www.minvivienda.gov.co/sites/default/files/2020-07/cartilla-propiedad-horizontal-web.pdf" target="_blank">Conoce mas</a>

                </div>

            </div>

            <div class="box">

                <figure>

                    <img src="/Images/7.%20paginasComplementarias/0.%20librosLeyes.webp" alt="Personas en un parque con perros">

                </figure>

            </div>

        </div>

    </div>

    <div class="llamadoAcccion">

        <div class="contenedorLlamadoAccion">

            <div class="box">

                <div class="textoLlamadoAccion">

                    <h1 id="tituloPaginasComplementarios">Tratamiento de datos personales en Propiedad Horizontal</h1>
                    <p>Es común que se manejen datos personales de los propietarios, residentes, empleados y proveedores, tales como nombres, cédulas de identidad, números de teléfono, direcciones, entre otros. Por esta razón, es necesario tener en cuenta la normativa que regula el tratamiento de estos datos personales.</p>
                    <a href="https://www.sic.gov.co/sites/default/files/files/Publicaciones/Guia_prop_horizontal_NOV12_OK%20(1).pdf" target="_blank">Conoce mas</a>

                </div>

            </div>

            <div class="box">

                <figure>

                    <img src="/Images/7.%20paginasComplementarias/1.-hojasLeyes.webp" alt="Personas en un parque con perros">

                </figure>

            </div>

        </div>

    </div>

</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
