<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<section>

    <!-- Septima Parte - Explicación de la División del Sistema -->

    <h1 id="tituloServicios"> Servicios <i class="fa-solid fa-clipboard" style="margin-top: 180px"></i></h1>

    <main>

        <div class="serviciosContainerCardGiratoria">

            <div class="serviciosCardGiratoriaPadre">

                <div class="serviciosCard">

                    <div class="serviciosCardFront" style="background-image: url(/Images2/0-TarjetasModulos/0.serviciosGestionAdministración.webp);">

                        <div class="serviciosCardFrontSombra"></div>

                        <div class="serviciosBodyCardFront">

                        </div>

                    </div>

                    <div class="serviciosCardBack">

                        <div class="serviciosBodyCardBack">

                            <h1>Administración</h1>
                            <p>Nos enfocamos en ayudar a la administración en la gestión de la documentación relevante para el residente, multas, cartera de morosos y mejoramos la toma de decisiones mediante BI (Business Intelligence) </p>
                            <a href="#serviciosGestionAdministracion"><input type="input" value="Conoce más"></a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="serviciosCardGiratoriaPadre">

                <div class="serviciosCard">

                    <div class="serviciosCardFront" style="background-image: url(/Images2/0-TarjetasModulos/1.serviciosGestionAlquiler.webp);">

                        <div class="serviciosCardFrontSombra"></div>

                        <div class="serviciosBodyCardFront">

                        </div>

                    </div>

                    <div class="serviciosCardBack">

                        <div class="serviciosBodyCardBack">

                            <h1>Alquiler Parqueaderos</h1>
                            <p>Nos enfocamos en ayudar tanto a los residentes como a los administradores en la gestión de los parqueaderos. Con nuestro servicio, disminuimos el tiempo de respuesta y realización de solicitudes, facilitando la documentación y recolección de información necesaria. ¡Estamos aquí para ayudarte!</p>
                            <a href="#serviciosGestionAlquiler"><input type="input" value="Conoce más"></a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="serviciosCardGiratoriaPadre" >

                <div class="serviciosCard">

                    <div class="serviciosCardFront" style="background-image: url(/Images2/0-TarjetasModulos/2.serviciosGestiondeComunicación.webp);">

                        <div class="serviciosCardFrontSombra"></div>

                        <div class="serviciosBodyCardFront">



                        </div>

                    </div>

                    <div class="serviciosCardBack">

                        <div class="serviciosBodyCardBack">

                            <h1>Comunicación</h1>
                            <p>Nos enfocamos en ayudar a los residentes a estar al tanto de su correspondencia y paquetes. Además, brindamos a la administración y vigilancia el poder de crear notificaciones que ayuden a la comunicación masiva de la información.</p>
                            <a href="#serviciosComunicacion"><input type="input" value="Conoce más"></a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Octava Parte - Descripción de lo que se hace -->

        <p id="serviciosGestionAdministracion"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>


        <div class="llamadoAcccion">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>ADMINISTRACIÓN</h1>
                        <p>El residente podra consultar la documentación de relevancia, como actas de asamble, estados contables, polizas de seguro, etc. Esto lo hacemos con el objetivo de que el residete tenga mayor conocimiento del conjunto y su estado. </p>

                    </div>

                </div>

                <div class="box">

                    <figure>

                        <img src="/Images/4.%20servicios/0.%20explicacionModulos/serviciosGestionAdministracion.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

        <p id="serviciosGestionAlquiler"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <div class="llamadoAcccion" id="serviciosGestionAlquiler">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>ALQUILER PARQUEADEROS</h1>
                        <p>Ahora el residente podra realizar la solicitud de un cupo de parquedero sin necesidad de perder tiempo imprimiendo la documentación, llenando formularios largos y sin saber en que momento habra nuevamente un cupo. Nuestro software se encargara de comunicar cuando habra un cupo disponible, de si este fue aprobado o no. Tambien ayudaremos a los guardas de seguridad en garantizar un buen uso del parqueadero, brindando herramientas para registrar el ingreso y salidad de los vehiculos dentro del conjunto residenical. </p>

                    </div>

                </div>

                <div class="box">

                    <figure>

                        <img src="/Images/4.%20servicios/0.%20explicacionModulos/serviciosGestionAlquilerParqueadero.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

        <p id="serviciosComunicacion"></p>
        <BR></BR>
        <BR></BR>
        <BR></BR>

        <div class="llamadoAcccion" id="serviciosComunicacion">

            <div class="contenedorLlamadoAccion">

                <div class="box">

                    <div class="textoLlamadoAccion">

                        <h1>COMUNICACIÓN</h1>
                        <p>En el siglo XXI la comunicación es uno de los factores mas imporantes en el desarrollo humano, por lo cual es imporante para nostros crear un sistema el cual permita al vigilante, residente y adminsitrador comunicarse en base a las necesidades del mismo. Ejemplo, el agua la cortaran de imprevisto, el vigilante ya tendra que caminar a cada casa informando el corte del agua, directamente entrara a STEL, realizara el comunicado y todos dentro del conjunto recibiran la notificacion del suceso.</p>

                    </div>

                </div>

                <div class="box">

                    <figure>

                        <img src="/Images/4.%20servicios/0.%20explicacionModulos/serviciosGestionComunicación.webp" alt="Personas en un parque con perros">

                    </figure>

                </div>

            </div>

        </div>

    </main>

</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
